<div class="jobcode-submission">
    <div class="component-title">{{componentTitle}}</div>

    <!-- Job Code Submission Form -->
    <div class="content">
        <div class="labels">
                <label>Job Code* </label><br>
                <label>Description </label><br>
                <label>Hourly Rate* </label><br>
                <label>Max Hours per Day* </label><br>
        </div>
        <form [formGroup]="jobCodeSubmissionForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                <input type="text" formControlName="code" class="form-control">
                <br>
        
                <input type="text" formControlName="description" class="form-control"><br>

                <input type="number" step="0.01" min="0" formControlName="hourlyRate" class="form-control" placeholder="$/Hr."><br>

                <input type="number" max="24" formControlName="maxDailyHours" class="form-control" placeholder="Hr."><br>

                </div>
                <button class="btn btn-primary" [disabled]="!jobCodeSubmissionForm.valid" type="submit">Add Job Code</button>
                <button type="button" (click)="cancelSubmission()">Cancel</button>
        </form>
        <div class="validation">
                <small *ngIf="!jobCodeSubmissionForm.controls.code?.valid" class="text-danger">Job Code is required</small>
        </div>
    </div>
          <!-- <div><p class="text-danger">{{errorMessage}}</p></div> -->
</div>