<div class="machinecode-management">
    <div class="component-title">{{componentTitle}}</div>

    <div class="list"> 
            <p (click)="addNewMachineCode()">Add New</p>
            <table>
            
                <thead>
                        <tr>
                                <td>Machine Code</td>
                                <td>Description</td>
                                <td>Hourly Rent</td>
                                <td>Max Hours per Day</td>
                                <td></td>
                                <td></td>
                        </tr>
                </thead>
                <tbody>
                        <tr *ngFor="let machineCode of machineCodeList; let i = index; let o = odd; let e = even">
                                <td>{{machineCode.code}}</td>
                                <td>{{machineCode.description}}</td>
                                <td>{{machineCode.hourlyRent | currency : "USD" : "symbol" : "1.2-3" }}</td>
                                <td>{{machineCode.maxDailyHours}} Hr.</td>
                                <td (click)="updateMachineCode(machineCode)">Edit</td>
                                <td (click)="removeMachineCode(machineCode)">Remove</td>
                        </tr>
                </tbody>
         </table>
        </div>
    
       

</div>