.jobcode-management{
    background-color: white;
}
.component-title{
    background-color: var(--maincolor);
    padding: 10px;
    margin: 10px 0; 
    text-align: left;
}
.list{
    margin: 50px auto;
    width: 80%;
}
p {
    text-align: right;
}
table{
    width: 100%;
}
thead{
    color: white;
    background-color: var(--mainblack);
}
.oddRow{
    background-color: var(--accents);
}
.evenRow{
    background-color: white;
}
td{
    padding: 4px;
}
.list2:hover{
    color:gray;
}
