<div class="jobcode-management">
        <div class="component-title">{{componentTitle}}</div>

        <div class="list">
                <p (click)="addNewJobCode()">Add New</p>
                <table>
                        <thead>
                                <tr>
                                        <td>Job Code</td>
                                        <td>Description</td>
                                        <td>Hourly Rate</td>
                                        <td>Max Hours per Day</td>
                                        <td></td>
                                        <td></td>
                                </tr>
                        </thead>
                        <tbody>
                                <tr *ngFor="let jobCode of jobCodeList; let i = index; let o = odd; let e = even">
                                        <td>{{jobCode.code}}</td>
                                        <td>{{jobCode.description}}</td>
                                        <td>{{jobCode.hourlyRate | currency : "USD" : "symbol" : "1.2-3"}} /Hr.</td>
                                        <td>{{jobCode.maxDailyHours}} Hr.</td>
                                        <td (click)="updateJobCode(jobCode)">Edit</td>
                                        <td (click)="removeJobCode(jobCode)">Remove</td>
                                </tr>
                        </tbody>
                </table>
        </div>
</div>