<div class='login-component'>
  <!-- Component Title -->
  <h2>{{componentTitle}}</h2>

  <div class="login">
    <!-- Form Title -->
    <h1 class="form-title">
      <u> {{formTitle}}</u>
    </h1>

    <!-- Log-In Form -->
    <form [formGroup]="logInForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>Username </label>
        <input type="text" formControlName="username" class="form-control">
        <div *ngIf="!logInForm.controls.username?.valid"><small class="text-danger">Username is required</small></div>

        <label>Password </label>
        <input type="password" formControlName="password" class="form-control">
      </div>
      <button class="btn btn-primary" [disabled]="!logInForm.valid" type="submit">Sign-In</button>
    </form>

    <div><p class="text-danger">{{errorMessage}}</p></div>
  </div>

</div>