<div class="timecard-submission">
        <div class="component-title">{{componentTitle}}</div>
    
        <!-- Job Code Submission Form -->
        <form [formGroup]="timeCardSubmissionForm" (ngSubmit)="onSubmit()">
                <div formGroupName="details" class="form-group-details">
                        <label>Site Code* </label>
                        <input type="text" formControlName="code" class="form-control">
                        <label>Contractor Name* </label>
                        <input type="text" formControlName="contractorName" class="form-control">
                        <label>Date </label>
                        <input type="date" formControlName="date" class="form-control">
                </div>
                <p class="form-array-title">Labor Entry</p>
                <div class="form-array-entry">
                        <div formArrayName="laborEntries" *ngFor="let field of (timeCardSubmissionForm.get('laborEntries').controls); let i = index;">
                                <div [formGroupName]="i" class="form-group-entry">
                                        <label>Site Code* </label>
                                        <select formControlName="code" class="form-control">
                                                <option *ngFor="let lc of laborCodes" [ngValue]="lc">
                                                        {{lc}}
                                                </option>
                                        </select>
                                        <label>Hours Worked* </label>
                                        <input type="number" formControlName="hours" class="form-control">
                                        <label>Total </label>
                                        <input type="number" formControlName="total" class="form-control">
                                </div>
                        </div>
                        <button (click)="addLaborEntry()" type="button">Add More</button>
                </div>
                <p class="form-array-title">Machine Entry</p>
                <div class="form-array-entry">
                        <div formArrayName="machineEntries" *ngFor="let field of timeCardSubmissionForm.get('machineEntries').controls; let i = index;">
                                <div [formGroupName]="i" class="form-group-entry">
                                        <label>Site Code* </label>
                                        <select formControlName="code" class="form-control">
                                                <option *ngFor="let mc of machineCodes" [ngValue]="mc">
                                                        {{mc}}
                                                </option>
                                        </select>
                                        <label>Hours Used* </label>
                                        <input type="number" formControlName="hours" class="form-control">
                                        <label>Total </label>
                                        <input type="number" formControlName="total" class="form-control"><br>
                                </div>
                        </div>
                        <button (click)="addMachineEntry()" type="button">Add More</button>
                </div>
                <button type="button" (click)="cancelSubmission()">Cancel</button>
                <button class="btn btn-primary" [disabled]="!timeCardSubmissionForm.valid" type="submit">Submit</button>
        </form>
            <!-- <div class="validation">
                    <small *ngIf="!timeCardSubmissionForm.controls.code?.valid" class="text-danger">Job Code is required</small>
            </div> -->

              <!-- <div><p class="text-danger">{{errorMessage}}</p></div> -->
</div>