<div class="timecard-management">
        <div class="component-title">{{componentTitle}}</div>

        <div class="list">
                <p (click)="addNewTimeCard()">Enter New TimeSheet</p>
                <table>
                        <thead>
                                <tr>
                                        <td>Site Code</td>
                                        <td>Contractor Name</td>
                                        <td>Total Hours</td>
                                        <td>Total Amount</td>
                                        <td>Status</td>
                                        <td></td>
                                        <td></td>
                                </tr>
                        </thead>
                        <tbody>
                                <tr *ngFor="let timeCard of timeCardList; let i = index; let o = odd; let e = even">
                                        <td>{{timeCard.code}}</td>
                                        <td>{{timeCard.contractorName}}</td>
                                        <td>{{timeCard.hours}}</td>
                                        <td>{{timeCard.total | currency : "USD" : "symbol" : "1.2-3"}}</td>
                                        <td>{{timeCard.finalized?'Finalized':'Open'}}</td>
                                        <td (click)="update(timeCard)">Edit</td>
                                        <td (click)="remove(timeCard)">Remove</td>
                                </tr>
                        </tbody>
                </table>
        </div>
</div>